@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

:root {
  --text: #00120B;
  --background: #ffffff;
  --primary: #29524A;
  --secondary: #425054;
  --accent: #D0F4EA;
}

::selection {
  background-color: var(--accent);
  color: var(--text);
}

.bg-gradient {
  background-image: linear-gradient(var(--primary), var(--primary));
  border-radius: 50%;
  animation: circle_animation 5s linear infinite;
}

@keyframes circle_animation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.my-social-icon .social-svg {
  color: #29524A;
}

.my-social-icon .social-svg:hover {
  color: #29524A;
  background: white;
}
