@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --text: #00120b;
  --background: #ffffff;
  --primary: #29524a;
  --secondary: #425054;
  --accent: #d0f4ea;
}

::selection {
  background-color: var(--accent);
  color: var(--text);
}

::-webkit-scrollbar {
  display: none;
}

/* customize the form psuedo-selectors to match the theme */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: 1px solid var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
}

button:focus {
  outline: 2px solid var(--accent);
  box-shadow: 0 0 0 1px var(--primary);
}

.bg-gradient {
  background-image: linear-gradient(var(--primary), var(--primary));
  border-radius: 50%;
  animation: circle_animation 5s linear infinite;
}

@keyframes circle_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.my-social-icon .social-svg {
  color: var(--primary);
}

.my-social-icon .social-svg:hover {
  color: var(--primary);
  background: white;
}
